.usersPagesNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px 0;
}

.usersPagesNumber span {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.usersPagesNumber span:hover {
    background-color: #d95789;
    color: white;
}

.pageSelected {
    font-weight: bold;
    background-color: #d95789;
    color: white;
}

.pageDots {
    cursor: default;
    background-color: transparent;
}
