.header {
    /*Old styles*/
    /*display: flex;*/
    /*grid-area: header;*/
    /*background-color: #539CCC;*/
    /*align-content: center;*/
    /*align-items: center;*/
    /*justify-content: flex-start;*/
    display: flex;
    grid-area: header;
    background-color: #539CCC;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.header img {
    width: 40px;
    margin-left: 18px;
}

.headerTitle {
    color: #ffffff;
    margin-left: 10px;
}
.loginBlock {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.loginBlock a {
    color: #fff;
    padding-left: 100px;
}
