.nav {
    padding: 20px;
    grid-area: nav;
    background-color: #d95789;
    display: block;
    width: 10rem
}

.item {
    color: white;
    text-decoration: none;
}
.active {
    color: black;
    text-decoration: none;
}