.descriptionBlock {
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileFullName{
    font-family: Arial, serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;

    padding-top: 30px;
}

.profileInfo_img{
    width: 100%;
}

.profileLargePhoto {
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 33px 17px rgba(0, 8, 12, 0.3);
    -moz-box-shadow: 0 0 33px 17px rgba(0, 8, 12, 0.3);
    box-shadow: 0 0 33px 17px rgba(0, 8, 12, 0.3);
}

.profileSocialNetworks{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.profileSocialNetworks a:hover {
    transform: scale(1.06);
}


.findJob {
    animation: myAnim 4s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        color: red;
        opacity: 1;
    }
}

.inputFileContainer {
    padding-top: 25px;
    width: 7%;
}
