.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: #6c0000;
}

.containerLoginInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccountLink{
    text-decoration: none;
    color: red;
    font-size: 21px;
}