.wrapperDialogs {
    display: grid;
    grid-template-columns: 3fr 11fr;
}

.dialogs {
    padding: 10px;

}

.dialog {
    padding: 10px;
    text-decoration: none;
}

.active {
    padding: 10px;
    color: #ec0f65;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}
