.wrapperDialogs {
    display: grid;
    /*grid-template-columns: 3fr 11fr;*/
    grid-template-columns: 6fr 11fr;
}

.dialogs {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

}

.dialog {
    padding: 10px;
    text-decoration: none;
}

.active {
    display: flex;
    padding: 10px;
    color: #ec0f65;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
}

.messages {
    width: 100%;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;

}

.message {
    max-width: 40%;
    margin-right: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(159, 169, 201, 0.3);
}
.message:nth-child(2n) {
    max-width: 40%;
    margin-left: auto;
    text-align: end;
}


.dialogItem_avatar {
    height: 50px;
    width: 50px;
    border-radius: 90%;
    border: 2px solid red;
}

.dialog_addMessage_container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.dialog_addMessage_textarea {
    display: contents;
    width: 80%;
    margin: auto 0;
}
.dialog_textarea {
    padding: 10px;
    color: rgba(107, 105, 105, 0.82);
    font-size: large;
    margin: 12px;
    max-width: 100%;
    min-height: 30%;
    min-width: 75%;
    border: 1px solid #539CCC;
    border-radius: 10px;
}

.dialog_addMessage_buttonAdd{
    margin: 12px;
    width: 9%;
    border-radius: 10px;
    border: 1px solid #539CCC;
    height: 36px;
}